.container-open {
    opacity: 1;
    transition-duration: 0.2s;
}

.container-close {
    opacity: 0;
}

.window-open {
    scale: 1 1 1;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.window-close {
    scale: 0 0 0;
}
